---
import { getCollection } from "astro:content";
import StaticLayout from "@/layouts/StaticLayout.astro";
import SeoPage from "@/components/shared/SeoPage.astro";
import ProjectHoverList from "@/components/features/projects/ProjectHoverList";

const projects = await getCollection("projects");
---

<StaticLayout>
  <SeoPage slot="head" title="projects" />
  <body class="h-screen overflow-auto">
    <ProjectHoverList client:load projects={projects} />
  </body>
</StaticLayout>
